@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Zeyada&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'New Rocker', cursive;
  }

  a{
    text-decoration: none;
  }

  ul{
    list-style: none;
  }

  body , html{
    overflow-x: hidden;
  }


  .navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
  }

  .nav-links {
    display: flex;
  padding: 8px 10px;
  background: black;
  border-radius: 10px;
  color: white;
  text-align: center;


  }
  .ctn {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px;

  }

.ctn:hover{
  opacity: 0.9;

}

  
  .nav-links li{
    margin: 0 30px;
  }

  header {
    width: 100vw;
    height: 100vh;
    background: url(../img/pxfuel.jpg)no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .header-content{
    margin-top: 130px;
    color: whitesmoke; 
    text-align: center;
  }
  .header-content h2 {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .header-content h2 span{
    color: white;
    font-size: 9vmin;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .ctn {
    padding: 8px 15px;
    background: black;
    border-radius: 30px;
    color: white;

  }

  section{
    width: 100vw;
    height: 100vh;
    background: url(../img/pexels-rodnae-productions-7978821.jpg)no-repeat;
    background-position: bottom;
    background-size: cover;
    display: block;
    align-items: center;
    justify-content: center;
  }
.row{
  display: flex;
  text-align: justify;
  width: 10px;
  justify-content: space-between
}
.row h2 {
    margin-bottom: 10px;
    font-size: 50px;
    color: white;
}
.row .col {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
}
.clearfix{
  clear: both;
}
.events .row {
  margin-top: 50px auto;
}
h4 {
  font-size: 3vmin;
  color: white;
  margin: 20px auto;
}
p{
  color: rgb(253, 253, 253);
  padding: 0px 40px;
}
.events .info-btn {
  margin-top: 30px;
  padding: 8px 10px;
  background: black;
  border-radius: 10px;
  color: white;
  text-align: center;

}
.potions{
  width: 100vw;
  height: 100vh;
  background: url(../img/pot.jpg)no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.potion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 90px;
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery figure {
  margin: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;

}

.gallery figcaption {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 17px;
  text-align: center
}

.potions .info-btn {
  margin-top: 50px;
  padding: 5px 10px;
  background: black;
  border-radius: 20px;
  color: white;
  text-align: center;
}
.potions .potion-content{
  margin-top: 50px auto;

}
.service {
  width: 100%;
  height: 80vh;
  background: url(../img/lasy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;


}
.service-content{
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.service-content h4{
  margin-bottom: 50px;
  font-size: 7vmin;
}
.service-content p{
  margin-bottom: 20px;
  font-size: 4vmin;
  align-items: center;
  color: rgb(255, 255, 255);
}
.service-content .ctn{
  margin-top: 20px;
  
}
.sign {
  width: 100%;
  height: 80vh;
  background: url(../img/second.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  }
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
 
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
h1{
  color: white;
}
p {
  text-align: center;
}

label {
  color: rgb(255, 0, 0);
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  text-align: center;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
